#clockContainer{
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.jpg) no-repeat;
    background-size: 100%;
}
#hour,#minute,#second{
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
#hour{
    width: 3.4%;
    height: 22%;
    top: 31%;
    left: 47.9%;
    opacity: 0.8;
   
    
}
#minute{
    width: 2.2%;
    height: 37%;
    top: 16%;
    left: 48.3%;
    opacity: 0.8;
  
}
#second{
    width: 1%;
    height: 26%;
    top: 25%;
    left: 48.7%;
    opacity: 0.8;
   
}
    
